* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #323437;
  --yellow-color: #e2b714;
  --caret-color: #e2b714;
  --gray-color: #646669;
  --blacker-color: #2c2e31;
  --white-color: #d1d0c5;
  --red-color: #ca4754;
  --extra-red-color: #7e2a33;
  --reder-color: #ca4754;
  --something-red-color: #7e2a33;
  --green-color: rgb(25, 167, 25);
  --pink-color: rgb(148, 118, 123);
  --blue-color: rgb(51, 51, 218);
}

body {
  background: var(--blacker-color);
  color: var(--white-color);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.btn {
  outline: none;
  font: 0.9rem;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--yellow-color);
  font-weight: 800;
}

.btn:hover {
  background-color: var(--black-color);
  color: var(--yellow-color);
}

.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 1px solid black; */
  overflow: hidden;
  /* position: relative; */
}

/* header section */
.game-info {
  /* border: 2px solid red; */
  max-width: 576px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* gap: 50px; */
  padding: 10px;
  margin: 10px;
}

.game-heading {
  color: var(--yellow-color);
  /* stroke: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-decoration: overline underline;
}

.your-score {
  color: var(--blue-color);
}

.opponent-score {
  color: var(--pink-color);
}

.divider {
  background: var(--black-color);
  max-width: 100vw;
  height: 2px;
  margin: 4px;
}

/* Game Area */
.game-area {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.emote {
  font-size: 60px;
  stroke: 2px solid pink;
}

.player-one-details,
.player-two-details,
.refree-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  /* font-size: 1.5rem; */
}

.player-one,
.player-two {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}

.refree-details p {
  margin-bottom: 5px;
}

.refree {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.game-area .refree .emote {
  font-size: 90px;
  margin-top: 0;
  /* border: 1px solid red; */
  padding: 1px;
}

.choose-winner {
  display: flex;
  flex-direction: column;
}

.choose-winner h3 {
  letter-spacing: 2px;
  color: var(--white-color);
  font-weight: 400;
}

.choice-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choice-btns button {
  background: gray;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

.winner {
  background: var(--green-color) !important;
  color: var(--white-color);
}

.loser {
  background-color: var(--reder-color) !important;
  color: var(--white-color);
}

/* Round Info*/
.round-info {
  color: var(--gray-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-top: 30px;
}

.round-info .round-target {
  display: flex;
  flex-direction: column;
}

.round-info .round-target .target {
  margin-bottom: 5px;
  color: var(--reder-color);
  letter-spacing: 1.5px;
}

.only-mobile {
  display: none;
}
@media (min-width: 576px) {
  .only-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
}

.only-mobile {
  display: none;
}

/* CSS code to cover the entire screen for screens wider than 576px */
@media (min-width: 576px) {
  .only-mobile {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  .game {
    display: none;
  }
}

/* start game */
.start-game {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  font-size: 5rem;
  background: radial-gradient(circle, #008000, #004d00, #000000);
  height: 100vh;
  margin: 0;
  background-size: cover;
  transition: background 2s ease-in-out;
  color: var(--yellow-clr);
}

.start-game:hover {
  background: radial-gradient(circle, #000000, #004d00, #008000);
}

.hide {
  display: none;
}

.winnerText {
  color: greenyellow;
  font-size: 1.5rem;
  text-aling: center;
}

.bribe {
  font-size: 1.1rem;
  color: var(--something-red-color);
}
